@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; 
     font-family: 'Roboto', sans-serif;
}

.page-container {
    display: grid;
    grid-template-columns: 275px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "sidebar header header"
        "sidebar main side";
    height: 100vh;

}

.sidebar {
    grid-area: sidebar;
    background-color: #0ea5e9;
    padding: 10px;
}

.sidebar svg {
	fill: white;
}

.sidebar ul {
    padding: 0; 
    margin-left: 15px; 
}

#logo-icon {
    width: 4rem;  
    height: 4rem; 
    filter: invert(100%);
}

#logo-text {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap:10px;
}

li {
    list-style: none;
    padding: 10px 0;
}

li a {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

li a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 4px; 
}


li img {
    width: 2rem;
    height: 2rem;  
    filter: invert(100%);
}
  

header {
    grid-area: header;
    padding: 20px;
    position: relative; 
    display: grid;  
    grid-template-columns: 1fr auto; 
    align-items: center; 
    border: 2px solid red;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

header img {
    width: 2rem;
    height: 2rem;  
}

#search-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: stretch; 
    width: 100%;
    border: 2px solid #0ea5e9;
}

#search-bar {
    background-color: #e2e8f0;
    border-radius: 12px;
    border: unset;
    height: 40px;  
    font-size: 16px;  
}

#search-bar:focus {
    outline: none;
}

#top-right {
    border: 2px solid #0ea5e9;
}

#avatar {
    width: 3rem;
    height: 3rem;
}

#button-container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, auto); 
    justify-content: end; 
    gap: 10px; 
    margin-top: 10px;
    border: 2px solid #0ea5e9;
}

header button {
    color: white;
    font-weight: bold;
    background-color: #0ea5e9;
    border-radius: 20px;
    outline: none;
    border: none;
    height: 40px;
    width: 100px;
}

header button:hover {
    background-color: #6dd7f4;
}

.main-content {
    grid-area: main;
    background-color: #e2e8f0;
    padding: 20px;
    font-weight: bold;
    border: 2px solid green;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, auto); 
    gap: 20px; 
    
}

.project-cards {
    background-color: #ffffff; 
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 4px; 
    font-weight: bold;
    border-left: 5px solid #facc15;
    display: grid; 
    grid-template-columns: auto auto auto; 
    grid-gap: 5px;
    align-items: center; 

}

.project-cards img {
    width: 1.7rem;
    height: 1.7rem;  
    grid-row: 2;
    justify-self: end;
    display: inline-block; 
}

.right-content {
    grid-area: side;
    padding: 20px;
    background-color: #e2e8f0;
    border: 2px solid #0ea5e9;
}

.right-containers {
    background-color: #ffffff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 4px; 
    padding: 20px;
}

