@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; 
     font-family: 'Roboto', sans-serif;
}

.page-container {
    display: grid;
    grid-template-columns: 275px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "sidebar header header"
        "sidebar main side";
    height: 100vh;

}

.sidebar {
    grid-area: sidebar;
    background-color: #0ea5e9;
    padding: 10px;
}

.sidebar svg {
	fill: white;
}

.sidebar ul {
    padding: 0; 
    margin-left: 15px; 
}

#logo-text {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap:10px;
}

#logo-icon {
    width: 4rem;  
    height: 4rem; 
    filter: invert(100%);
}

li {
    list-style: none;
    padding: 10px 0;
}

li a {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
}

li a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 4px; 
}


li img {
    width: 1.7rem;
    height: 1.7rem;  
    filter: invert(100%);
}
  
header {
    grid-area: header;
}

header img{
    width: 1.7rem;
    height: 1.7rem;  
}

#search-bar {
    background-color: #e2e8f0;
    border-radius: 12px;
    border: unset;
    width: 80%;
    max-width: 600px;  
    height: 8px;  
    font-size: 16px;  
    padding: 10px;
}

#search-bar:focus{
    outline: none;
}

.main-content {
    grid-area: main;
    background-color: #e2e8f0;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, auto); 
    gap: 20px; 
}

.project-items {
    background-color: #ffffff; 
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 4px; 

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.side-content {
    grid-area: side;
    background-color: #e2e8f0;
    border: 1px solid purple;
}


